README.md
.eslintrc.json
node_modules/
.eslintrc.js
.prettierrc.js
babel.config.js
docker-compose.yml
index.js
package.json
tests/setup.ts
tsconfig.json
tsconfig.spec.json
coverage/
commitlint.config.js
documentation
jest.config.ts
jest.config.js.map
nodemon.json
docker-compose.dev.yml
docker-compose.prod.yml
Dockerfile.dev
Dockerfile.prod
build
dist
*.test.ts
cypress
cypress/*
.eslintrc.cjs
.jest/mocks/fileMock.js
.jest/setup-tests.js
.prettierrc.json
babel.config.json
cypress.config.ts
tsconfig.node.json
vite.config.ts
jest.config.js
cypress.d.ts
src/vite-env.d.ts