/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Remove default list styles */
ul, ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Ensure media elements fit within their containers */
img, video {
  max-width: 100%;
  height: auto;
}

/* Ensure form elements inherit font and have consistent styling */
input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Provide some basic styling for buttons */
button {
  cursor: pointer;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #001529;
  border-radius: 8px; /* Rounded but not too much */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #001529;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px; /* Match the thumb */
}

/* Ensuring the vertical scrollbar is hidden unless explicitly needed */
html {
  overflow-y: scroll;
}

